.timer {
  &__number-area {
    display: flex;
    justify-content: center;
    &--number {
      margin: 0 10px;
      font-size: 50px;
      width: 60px;
    }
    &--count-button {
      border: none;
      width: 25px;
      font-size: 30px;
    }
  }
  &__button-area {
    display: flex;
    justify-content: center;
  }
  &__button {
    width: 80px;
    height: 30px;
    margin: 10px 5px 0 0;
    color: #fff;
    border: none;
    &--start {
      background-color: #00cc00;
    }
    &--stop {
      background-color: #cc3333;
    }
    &--reset {
      background-color: #aaa;
    }
  }
}
